//color schemes
$color-primary: #6000ff;
$color-primary-light: #00dfff;
$color-primary-dark: #0015ff;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
// card colors

$color-tokyo-dark: #73649e;
$color-tokyo-light: #648f9e;

$color-cruise-dark: #ff7400;
$color-cruise-light: #ffb400;

$color-northern-dark: #169f00;
$color-northern-light: #00fff6;

$color-tailand-dark: #c000ff;
$color-tailand-light: #ff00bf;

$color-china-dark: #ff0000;
$color-china-light: #ff4000;

$color-scuba-dark: #08009f;
$color-scuba-light: #0c00ff;
//Font variables
$default-font-size: 1.6rem;

//grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// testimonials variables
