.header {
  padding: 50px;
  height: 85vh;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-image: linear-gradient(
      to left top,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/woman.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  &__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &__Logo-1 {
    height: 6rem;
  }
}
